html{
	min-height: 100%;
	width: 100%;
}
body{
	font-family: 'Nunito', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.wrapper{
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0 auto;
}

body[data="index"] header{
	/*width: 100%;
	height: 572px;*/
	width: 100%;
    height: 577px;
    margin: 0 auto;
  	background-image: linear-gradient(to top, #445482, #49558f);
  	color: #FFF;
  	font-family: 
}

.shapes{
	
	width: 1084px;
	height: 311px;
	margin: 0px auto 0px auto;
	background-image: url('../../assets/img/shapes@3x.png');
	background-size: cover;
	padding-top: 100px;
}

.th_4{
	height: calc(100% - 80px);
	background: rgba(255, 255, 255, 0.1)
}

.th_1{
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 80px;
}

h3.title{
  height: 44px;
  font-family: 'Nunito', sans-serif;
  font-size: 40px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: 0.8px;
  color: #ffffff;
  margin-bottom: 9px;
}

.introduction{
  height: 84px;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #ffffff;
}


.form-inline .form-control{
	box-shadow: none;
	height: 40px;
	text-align: left;
    text-transform: none;
    border-radius: 4px;
    background: rgba(255,255,255, 0.95);
}

.form-inline button{
	height: 40px;
	width: 150px;
}

/*.thumbnail {
    padding: 4px;
    margin-bottom: 20px;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}*/

section .heading{
  font-family: 'Nunito', sans-serif;
  font-size: 32px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.hr-blue{
  color: #37467a;
}

.hr-white{
	color: #FFFFFF;
}

.content h5{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #37467a;
}

.content p{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #4c6078;
}

section.work{
	background: #FFFFFF;
	height: 482px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}

section.course{
  height: 637px;
  background-image: linear-gradient(to top, #445482, #49558f);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

section.course .card{
	height: 400px;
	background: #FFF;
}

section.course .card .header{
	height: 140px;
	border-radius: 2px;
  	background-image: linear-gradient(to left, #00e1fe, #4facfe);
}

section.course .card .content{
	padding: 20px;
}

section.course .col-md-3{
	padding-left: 10px;
	padding-right: 10px;
}

body[data="index"] footer.footer{
  height: 120px;
  background-color: #ffffff;
}

.navbar.navbar-default{
	border-radius: 0px;
	background: transparent;
	color: #FFF;
	border: none;
	
}

body[data="index"] .navbar.navbar-default{
	height: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
}

body[data="course"] .navbar.navbar-default{
    padding-top: 15px;
    padding-bottom: 10px;
}

body[data="course"] header{
	border-bottom: 1px solid #EEE;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus
{   
    background-color: transparent;
    background: transparent;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #0e1f5a;
}

body[data="index"] .navbar-default .navbar-nav>li>a,
body[data="index"] .navbar-default .navbar-nav>.active>a,
body[data="index"] .navbar-default .navbar-nav>li>a:hover,
body[data="index"] .navbar-default .navbar-nav>li>a:focus, 
body[data="index"] .navbar-default .navbar-nav>.active>a:hover, 
body[data="index"] .navbar-default .navbar-nav>.active>a:focus{
	color: #FFF;
}

.card .content .course_price{ 
	margin-top: 20px;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #778aa1;
}

.card .content .course_title,
.intros .course_title
{
  opacity: 0.8;
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: 0.8px;
  
  color: #0e1f5a;
}

.card .content .course_title{
   text-align: center;
}

.card .content .course_title2{
	opacity: 0.8;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: 0.8px;
  text-align: center;
  color: #0e1f5a;
}

.card .content .course_duration{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #37467a;
}

.description h5{
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #7e8791;
}

.description p{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0e1f5a;
}

.description ul{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0e1f5a;
}


footer .navbar{
	margin-bottom: 0px;
}

footer .navbar-default .navbar-nav>li>a:hover, 
footer .navbar-default .navbar-nav>li>a:focus,
footer .navbar-default .navbar-nav>.active>a, 
footer .navbar-default .navbar-nav>.active>a:hover, 
footer .navbar-default .navbar-nav>.active>a:focus
 {
    background-color: transparent;
}

.navbar-brand {
   padding: 0px !important;
}

.navbar-brand img{
	width: 150px !important;
}

.dis-flex{
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    outline: 0;
}

/*Margin */
.m-b-0{
	margin-bottom: 0px;
}
.m-t-0{
	margin-top: 0px;
}

.m-t-20{
	margin-top: 20px;
}

.m-t-80{
	margin-top: 80px;
}

.m-b-80{
	margin-bottom: 80px;
}


.p-l-0{
	padding-left: 0px;
}

.p-t-60{
	padding-top: 60px;
}
.w-104{
	min-width: 104px;
  height: 40px;
}

.w-210{
	min-width: 210px;
}
.align-justify{
	text-align: justify;
}

.intros .card .header{
	height: 197px;
	border-radius: 2px;
  	background-image: linear-gradient(to left, #00e1fe, #4facfe);	
}

.footer ul{
	list-style-type: none;
}

.footer ul li{
	display: inline-block;
}

.footer ul li a{
	text-transform: uppercase;
	text-decoration: none;
	display: block;
	padding: 10px 20px;
	font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: right;
  color: #4f4f4f;
  letter-spacing: 0.4px;
}

.copyright{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #bdc6cf;
  margin-left: 10px;
}

.btn_brand{
  font-weight: 600;
  color: #0e1f5a;
  border-radius: 2px;
  background-color: #fecb3f;
  font-size: 16px;
}

.btn_brand:hover,
.btn_brand:active,
.btn_brand:visited,
.btn_brand:focus
{
	outline: 0;
	color: #0e1f5a;
}
.btn_enroll{
	width: 204px;
    height: 42px
}

.bg-brand{
	background-color: #fecb3f !important;
	background: #fecb3f !important;
	color: #222 !important;

}

.bg-transparent{
	background: transparent !important;
	background-color: transparent !important;
	border: 1px solid #DDD;
	color: #222 !important;
}

ul.inline_block{
	list-style-type: none;
	padding-left: 0px;
}
.inline_block li{
	display: inline-block;
}

.width-100p{
	width: 100%;
}

.bank_details{
	border-radius: 2.5px;
	background-color: #ffffff;
	border: solid 0.5px #e2e5e7;
	padding: 10px;
}

.enroll_title{
  opacity: 0.8;
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.22;
  letter-spacing: 0.4px;
  color: #0e1f5a;
}

.enrollment p{
	font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.2px;
  text-align: center;
  color: #4c6078;
}

.enrollment .friend{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  color: #4c6078;
}

.social_button a:nth-child(1){
  width: 122px;
  border-radius: 2px;
  background-color: #00aaec;
  color: #FFF;
}

.social_button a:nth-child(2){
  width: 122px;
  border-radius: 2px;
  background-color: #4460a0;
  color: #FFF;
}

/*styling of progress*/
	.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }


.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}




.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 2px solid  #fecb3f;
    border-bottom-color: #fecb3f;
    transition: 0.1s ease-in-out;
    width: 100%;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 2px solid transparent;
    border-bottom-color: #fecb3f;
}

.wizard .nav-tabs > li a {
    font-size: 12px;
    height: 40px;
    margin: 0px auto;
    padding: 0;
    font-family: 'Nunito', sans-serif;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   color: #3a405b;
   display: flex;
    align-items: center;
}

.wizard .nav-tabs > li a:hover, .nav-tabs>li>a:hover,
.nav>li>a:hover, .nav>li>a:focus
{
    background: transparent;
    outline: 0;
    border: none;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 100%;
        height: auto !important;
    }

    .wizard .nav-tabs > li a {
        width: 100%;
        height: auto;
        line-height: 30px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 0;
    }
}

.badge{
	width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 3px 0px 0px 0px;
    margin-right: 5px;
}

/*form-control */
.form-group label{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #4c6078;
}

.form-control, .form-control:hover, .form-control:focus{
	outline: 0;
	box-shadow: none;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 0.5px #bec6cd;
}

/*payment method*/
.payment_method input[type="radio"]{
	display: none;
}

.payment_method label{
	padding-left: 0px;
	width: 180px;
	height: 38px;
	background: #FFF;
	padding: 6px 12px;
	border-radius: 2px;
	text-align: center;
}

.payment_method label{
	border: 1px solid #fecb3f;
}

.payment_method label:nth-child(2){
  background-color: #f8f5f5;
  border: solid 0.5px #e2e5e7;
}


.fellow_info{
	font-family: Nunito;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0e1f5a;
}

.bootstrap-select .dropdown-toggle:focus,
.btn-group.open .dropdown-toggle,
.btn.dropdown-toggle.bs-placeholder.btn-default
{
  outline: 0 !important;
  box-shadow: none !important;
  background: #FFF !important;
}

.current{
  background: #fecb3f !important;
  color: #FFF !important;
}