<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/png" href="assets/img/fav.jpg"/>
		<title>SWITCH! Immersive Courses</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	</head>
	<body data="course">
		<div class="wrapper clearfix">
			<header class="clearfix dis-flex">
				<div class="container">
					<!--navbar begins here-->
					<nav class="navbar navbar-default m-b-0" role="navigation" id="main-nav">
						<div class="container animated">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header" style="padding-top: 3px;">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand animated" href="index.html">
									<img src="assets/img/logo/logo.svg" alt="Switch" class="logo-default">
								</a>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse navbar-ex1-collapse">
								<ul class="nav navbar-nav navbar-right main-nav-list">
									<li class="active"><a href="courselist.html">Courses</a></li>
									<li class="animated"><a href="about_us.html">About</a></li>
									<li class="animated"><a href="faq.html">FAQ</a></li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div>
					</nav>
				</div>
			</header>
			<section class="course clearfix">
				<div class="container">
					<h3 class="text-center heading hr-white">Our Immersive Courses</h3>
					<br><br>
					<div class="row">
						<div class="col-md-3">
							<div class="card">
	                            <div class="header text-center dis-flex">
	                                <img src="assets/img/course_1.png">
	                            </div>
	                            <div class="content">
	                                <h5 class="text-center">Frontend Development</h5>
	                                <p class="text-center">
	                                	Research in advertising is done in order to produce better advertisements that are more efficient in motivating customers to buy a product or a service. 
	                                </p>
	                                <button class="btn btn-block btn_brand">view course</button>
	                            </div>
	                       </div>
						</div>
						<div class="col-md-3">
							<div class="card">
	                            <div class="header text-center dis-flex">
	                                <img src="assets/img/course_2.png">
	                            </div>
	                            <div class="content">
	                                <h5 class="text-center">Backend Development</h5>
	                                <p class="text-center">Research in advertising is done in order to produce better advertisements that are more efficient in motivating customers to buy a product or a service.</p>
	                                <button class="btn btn-block btn_brand">view course</button>
	                            </div>
	                       </div>
						</div>
						<div class="col-md-3">
							<div class="card">
	                            <div class="header text-center dis-flex">
	                                <img src="assets/img/course_3.png">
	                            </div>
	                            <div class="content">
	                                <h5 class="text-center">Product Design</h5>
	                                <p class="text-center">Research in advertising is done in order to produce better advertisements that are more efficient in motivating customers to buy a product or a service.</p>
	                                <button class="btn btn-block btn_brand">view course</button>
	                            </div>
	                       </div>
						</div>
						<div class="col-md-3">
							<div class="card">
	                            <div class="header text-center dis-flex">
	                                <img src="assets/img/course_4.png">
	                            </div>
	                            <div class="content">
	                                <h5 class="text-center">Android Development</h5>
	                                <p class="text-center">Research in advertising is done in order to produce better advertisements that are more efficient in motivating customers to buy a product or a service.</p>
	                                <button class="btn btn-block btn_brand">view course</button>
	                            </div>
	                       </div>
						</div>
					</div>
				</div>
			</section>
            <footer class="footer dis-flex clearfix height-120">
				<div class="container">
					<!--navbar begins here-->
					<ul class="p-l-0">
						<li>
							<img src="assets/img/logo/logo.svg" width="150px">
							<span class="copyright">© 2017 Switch All rights reserved</span>
						</li>
						<ul class="pull-right">
							<!--<li>
								<a href="#">Tell a Friend</a>
							</li>-->
							<li>
								<a href="about_us.html">About</a>
							</li>
							<li>
								<a href="faq.html">FAQs</a>
							</li>
						</ul>
					</ul>
					<!--navbar ends here-->
				</div>
			</footer>
		</div>

		<!-- jQuery -->
		<script src="assets/js/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


	</body>
</html>