<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SWITCH! Immersive Courses</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="assets/css/responsive.css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	</head>
	<body data="about">
		<div class="wrapper clearfix">
			<header class="clearfix dis-flex">
				<div class="container">
					<!--navbar begins here-->
					<nav class="navbar navbar-default m-b-0" role="navigation" id="main-nav">
						<div class="container animated">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header" style="padding-top: 3px;">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand animated" href="index.html">
									<img src="assets/img/logo/logo.svg" alt="Switch" class="logo-default">
								</a>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse navbar-ex1-collapse">
								<ul class="nav navbar-nav navbar-right main-nav-list">
									<li class="active"><a href="courselist.html">Courses</a></li>
									<li class="animated"><a href="about_us.html">About</a></li>
									<li class="animated"><a href="faq.html">FAQ</a></li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div>
					</nav>
				</div>
			</header>

			<section class="clearfix height-350p" style="background-image: url('assets/img/about/bg.jpeg')">
				<div class="container">
					
				</div>
			</section>

            <section class="clearfix p-t-50 p-b-50 faq">
				<div class="container text-center">
					<h3 class="heading hr-blue m-t-0">Frequently Asked Questions</h3>
					<div class="row">
                        <div class="col-md-6">
                            <ul class="list_style_none">
                                <li>
                                    <a href="#">Who is Switch?</a>
                                </li>
                                <li>
                                    <a href="#">How can I be in Switch?</a>
                                </li>
                                <li>
                                    <a href="#">What's the length of the course?</a>
                                </li>
                                <li>
                                    <a href="#">How much does it cost?</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list_style_none">
                                <li ><a href="#">Am I eligible?</a></li>
                                <li>
                                    <a href="#">Am I eligible? </a>
                                </li>
                                <li>
                                    <a href="#">Am I eligible? </a>
                                </li>
                                <li>
                                    <a href="#">Am I eligible? </a>
                                </li>
                                <li>
                                    <a href="#">Am I eligible? </a>
                                </li>
                            </ul>
                        </div>
                    </div>
				</div>
			</section>

            <section class="faq-contact">
                <div class="container">
					<h4 class="hr-white text-center">Can't find related question? </h4>
                    <h3 class="text-center heading hr-white m-t-0">Contact Us</h3>
					<br><br>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
							<form>
								<div class="form-group">
									<label for="email">Email address</label>
									<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
									<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
								</div>
								<div class="form-group">
									<label for="password">Password</label>
									<input type="password" class="form-control" id="password" placeholder="Password">
								</div>
								<div class="form-group">
									<label for="comment">Comment</label>
									<textarea class="form-control" id="comment" rows="3"></textarea>
								</div>
								<button type="submit" class="btn btn_brand">Submit</button>
							</form>
						</div>
                    </div>
                </div>
            </section>
            <footer class="footer dis-flex clearfix">
				<div class="container">
					<!--navbar begins here-->
					<ul class="p-l-0">
						<li>
							<img src="assets/img/logo/logo.svg" width="150px">
							<span class="copyright">© 2016 Great Simple All rights reserved</span>
						</li>
						<ul class="pull-right">
							<li>
								<a href="#">Tell a Friend</a>
							</li>
							<li>
								<a href="about_us.html">About</a>
							</li>
							<li>
								<a href="faq.html">FAQs</a>
							</li>
						</ul>
					</ul>
					<!--navbar ends here-->
				</div>
			</footer>
	
			
		</div>

		<!-- jQuery -->
		<script src="assets/js/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


	</body>
</html>