<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SWITCH! Immersive Courses</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body data="course">
		<div class="wrapper clearfix">
			<header class="clearfix dis-flex">
				<div class="container">
					<!--navbar begins here-->
					<nav class="navbar navbar-default m-b-0" role="navigation" id="main-nav">
						<div class="container animated">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header" style="padding-top: 3px;">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand animated" href="index.html">
									<img src="assets/img/logo/logo.svg" alt="Switch" class="logo-default">
								</a>
							</div>

							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse navbar-ex1-collapse">
								<ul class="nav navbar-nav navbar-right main-nav-list">
									<li class="active"><a href="#course">Course</a></li>
									<li class="animated"><a href="#about">About</a></li>
									<li class="animated"><a href="#faq">FAQ</a></li>
								</ul>
							</div><!-- /.navbar-collapse -->
						</div>
					</nav>
				</div>
			</header>
			<section class="forms clearfix m-t-80">
				<div class="container">
					<section class="text-center enrollment">
						<img src="assets/img/success.png">
						<h3 class="enroll_title">Enrollment Successful</h3>
						<p class="text-center">Your enrollment for the Front End Development course has been<br> received. Course details will be sent to you via email. Looking<br> forward to watching you grow!</p>
						<div style="width: 156px; height: 1px; background-color: #ebebeb; margin: 20px auto;"></div>
						<p class="friend">TELL YOUR FRIENDS</p>
						<div class="social_button">
							<a href="#" class="btn">Twitter</a>
							<a href="#" class="btn btn-primary">Facebook</a>
						</div>
					</section>
				</div>
			</section>
		</div>

		<!-- jQuery -->
		<script src="assets/js/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="assets/js/bootstrap.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>


	</body>
</html>